doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Samantha Yeargin | Nashville Software School | Portfolio</title)
    link(rel='stylesheet', href='./css/app.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

  body
    #content
      #sidebar
        #contact
          img(class='photo' src='media/img/slyeargin.png')
          h1 Samantha Yeargin
          h2 Cohort 5, Nashville Software School

          h3 Find me on …
            ul.fa-ul
              li
                i.fa-li.fa.fa-linkedin
                a(href='http://www.linkedin.com/in/samanthay') LinkedIn
              li
                i.fa-li.fa.fa-github
                a(href='http://github.com/slyeargin') GitHub
              li
                i.fa-li.fa.fa-twitter
                a(href='http://twitter.com/slyeargin') Twitter
      #projects
        h3 Completed Projects

        div
          h4 Weather Map
          a(href='/weather-map')
            img(class='screenshot' src='media/img/weather-map.png')
          p.description For each ZIP code entered, a flag is added at the appropriate location on a map and a chart with the 10-day forecast of highs and lows is generated.
          p.technologies jQuery, Jade, LESS, Lodash, Weather Underground API, Google Maps API
          p.links
            a(href='/weather-map') Use this application.
            | •
            a(href='http://github.com/slyeargin/weather-map') Find this project on GitHub.

        div
          h4 Memoré
          a(href='/memory')
            img(class='screenshot' src='media/img/memory.png')
          p.description A Beyoncé-themed memory game.
          p.technologies jQuery, Jade, LESS
          p.links
            a(href='/memory') Use this application.
            | •
            a(href='http://github.com/slyeargin/memory') Find this project on GitHub.

        div
          h4 Yahtzee
          a(href='/yahtzee')
            img(class='screenshot' src='media/img/yahtzee.png')
          p.description Add users (with avatars), roll/freeze dice, and keep score.
          p.technologies jQuery, Jade, LESS
          p.links
            a(href='/yahtzee') Use this application.
            | •
            a(href='http://github.com/slyeargin/yahtzee') Find this project on GitHub.

        div
          h4 Super Bank
          a(href='/super-bank')
            img(class='screenshot' src='media/img/super-bank.png')
          p.description This application processes deposits and withdrawals, displaying the transactions in a ledger.
          p.technologies jQuery, Jade, LESS
          p.links
            a(href='/super-bank') Use this application.
            | •
            a(href='http://github.com/slyeargin/super-bank') Find this project on GitHub.

        div
          h4 Super Calc
          a(href='/super-calc')
            img(class='screenshot' src='media/img/super-calc.png')
          p.description This calculator performs simple complicated calculations from limited user input.
          p.technologies jQuery, Jade, LESS
          p.links
            a(href='/super-calc') Use this application.
            | •
            a(href='http://github.com/slyeargin/super-calc') Find this project on GitHub.
